<!doctype html>
<html>
<include file="Public/head" />
<body>
<include file="Public/menu" />
<div class="container clearfix">
    <include file="Public/left" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i>
            <a href="__MODULE__/Index/index">首页</a>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">推荐位内容管理</span></div>
        </div>
		<div class="search-wrap">
            <div class="search-content">
                <form action="" method="post" name='searchname' id="searchname">
                    <table class="search-tab">
                        <tr>
                            <th width="120">推荐位:</th>
                            <td>
                                <select name="search-sort" id="">
                                    <option value="">全部</option>
                                    <volist name="locas" id="vo">
                                    <option value="{$vo.name}" >{$vo.name}</option>
                                    </volist>
                                </select>
                            </td>
                            <th width="70">新闻标题:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="formlist" id="formlist" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a id="batchDel" href="#" onclick="dels()"><i class="icon-font"></i>批量删除</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="95%" id="messagelst">
                        <tr>
                            <th class="tc" width="5%">
                            	<input class="allChoose" name="checkall" id="checkall" type="checkbox" ></th>
                            <th width="7%">ID</th>
                            <th>新闻名称</th>
                            <th>推送位</th>
                            <th>推送时间</th>
                            <th>操作</th>
                        </tr>
                        <volist name="push" id="vo">
                        <if condition="$vo['artname'] neq '' ">
                        <tr>
                        	
                            <td class="tc"><input name="dels[{$vo.id}]"  class="dels" value ="{$vo.id}" type="checkbox"></td>
                            <td >{$vo.id}</td>
                            <td ><a target="_blank" href="#" >{$vo.artname}</a> 
                            </td>
                            <td ><a target="_blank" href="#" >{$vo.pushname}</a> 
                            </td>
                            <td ><a target="_blank" href="#" >{$vo.time|strtime}</a> 
                            </td>
                            <td> 
                                <a class="link-update" href="__CONTROLLER__/edit/id/{$vo.id}">修改</a>
                                <a class="link-del" href="#" onclick="del({$vo.id})">删除</a>
                            </td>
                        </tr>
                        </if>
						</volist>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
<include file="Public/js" />
<script type="text/javascript">
 var SCOPE={
		 post_url:"__CONTROLLER__/del",
		 post_dels:"__CONTROLLER__/dels",
		 jump_url:"__SELF__",
		 status_url:"__CONTROLLER__/status",
 };
</script>
</body>
</html>