<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <title>{$cache.title}</title>
  <meta name="keywords" content="{$cache.key}">
  <meta name="description" content="{$cache.disc}">
  <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css" type="text/css">
  <style>
		.news-list dl dd{
    		text-align:center;
    		text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden; 
    	}
</style>
</head>